<div class="container">
  <div class="task-list">
    <h1>Todo:</h1>
    <button (click)="createNewTask()">+</button>
    <button *ngIf="tasks.length > 0" (click)="show = !show">{{show ? 'hide' : 'delete'}}</button>

    <div class="task" *ngFor="let task of tasks; trackBy: customTrackBy(); let i=index">
      <button *ngIf="show" (click)="deleteTask(tasks.indexOf(task)) " class="delete-button">X</button>
      <span class="check-box">
        <input type="checkbox" checked={{task.done}} (click)="checkTask(tasks.indexOf(task))">
      </span>

      <input #box type="text" value="{{task.name}}" (keyup)="changeName(box.value, tasks.indexOf(task))">
    </div>

  </div>

  <div class="task-list">
    <h1>Deleted:</h1>
    <div class="task" *ngFor="let task of deletedtasks">
        <span class="check-box">
          <input type="checkbox"  checked={{task.done}}>
        </span>
        {{task.name}}
    </div>
  </div>

</div>