.task{
    border-bottom: 1px solid blue;
}

.check-box{
    display: inline;
    border-right: double red;
    margin: 0;
    padding: 0;
}

.text-enter{
    display: inline;
}

.delete-button{
    display: inline;
}