/* You can add global styles to this file, and also import other style files */
.container{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 50% 50%;
}

#todo-list {
    display: inline;
}

#done-list {
    display: inline;
}

@media only screen and (max-width: 600px) {
    #done-list{
        display: block;
        grid-column: 1/span2;
        width: 100%;
    }
    #todo-list{
        display: block;
        grid-column: 1/span2;
        width: 100%;
    }
}